APP_NAME="Agora"
APP_ENV="development"
APP_PORT=4200
APP_TZ="+3"

LOG_LEVEL='debug'

# Pino logger Config
PINO_LOG_ROTATION='daily'
PINO_ROTATION_MAX_SIZE='10m'
PINO_ROTATION_MAX_FILES='20d'

# DB CONFIGS
DB="MONGODB"


# MONGODB CONFIG
DB_CONNECTION_STR= # e.g. "mongodb+srv://<username>:<pssword>@<dbname>.eway4s6.mongodb.net/?retryWrites=true&w=majority&appName=<dbname>"
DB_PASSWORD=your_password
DB_USER=your_user_name

# JWT
JWT_SECRET=jwt_secret